<h3>Parabéns sua conta foi criada com sucesso! Clique <a href="../Usuario/Login">aqui</a> para efetuar login no sistema...</h3>

<img src="https://png.pngtree.com/png-vector/20190228/ourmid/pngtree-check-mark-icon-design-template-vector-isolated-png-image_711429.jpg" />