@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}


<div class="alert-danger"><h3>Parabéns!! <br /> Sua conta foi criada com sucesso! Clique <a href="../Usuario/Login">aqui</a> para efetuar login no sistema...</h3></div>

<img src="https://pixabay.com/images/id-47587/" />