
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="../Conta/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/conta.png" width="50%" />
            <h3>Criar Conta</h3>
        </div>
    </a>

    <a href="../PlanoConta/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/planocontas.png" width="50%" />
            <h3>Plano de Conta</h3>
        </div>
    </a>

    <a href="../Transacao/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/registrar_transacao.png" width="50%" />
            <h3>Registrar Transação</h3>
        </div>
    </a>
</div>

<br /><br />

<div class="row">
    <a href="../Transacao/Extrato">
        <div class="col-lg-4 text-center">
            <img src="~/images/extrato.png" width="50%" />
            <h3>Extrato</h3>
        </div>
    </a>

    <a href="../Transacao/Dashboard">
        <div class="col-lg-4 text-center">
            <img src="~/images/dashboard.png" width="50%" />
            <h3>DashBoard</h3>
        </div>
    </a>

    <a href="../Home/Ajuda">
        <div class="col-lg-4 text-center">
            <img src="~/images/ajuda.png" width="50%" />
            <h3>Ajuda</h3>
        </div>
    </a>
</div>



